.Viewer-wrapper {
  height: 700px;
  position: relative; }
  .Viewer-wrapper .viewr-wrp {
    min-height: 650px; }
  .Viewer-wrapper .info {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff; }
